<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<variable name="logFile" value="C:/Users/Thirumr/Source/Repos/TraningPractice/web/Logs/LogWeb-${shortdate}"/>

	<targets>
		<target name ="Log"
				xsi:type="File"
				fileName="${logFile}.log"
				keepFileOpen="false"
				concurrentWrites="true"
				archiveNumering="DateAndSequence"
				archiveAboveSize="5000000"
				maxArchiveFiles="10"
				layout="${longdate} - ${message} - 
				${exception:format = StackTrace}${newline}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="Log"/>
	</rules>
</nlog>